html, body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px 5px;
  background-color: #86f;
}

.caja {
  background: #025;
  height:80px;
  width: 80px;
  margin: 20px;
  animation-name: desplazamiento;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes desplazamiento {
  0% {
    position: relative;
    left: 0;
  }

  100% {
    background-color: #F07;
    left: 100%;
  }

}